# React Native
node_modules/
ios/
android/
*.log
*.lock
*.swp
*.iml
*.hprof
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.idea/
*.vscode/
.DS_Store
.env
.env.*
.expo/
.expo-shared/
build/
dist/
coverage/
web-build/